
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--black);
}

h1{
    font-family: 'Cinzel', serif;
    color: var(--orange);
    font-weight: 400;
    font-size: 3.188rem;
    text-align: center;
}

h5 {
    color: var(--gray);
    font-weight: lighter;
    padding-top: 1.2rem;
}

h5 a {
    color: var(--orange);
}


p{
    color: var(--gray);
    font-weight: lighter;  
    margin-top: 4rem;
    margin-bottom: 5rem;
}
